name: Publish Xipher Web

on:
  workflow_dispatch:
  workflow_call:

jobs:

  pages:
    name: Deploy Xipher Web to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    concurrency:
      group: "pages"
      cancel-in-progress: true
    steps:
      - name: Download wasm files from latest release
        uses: robinraju/release-downloader@v1.11
        with:
          repository: 'shibme/xipher'
          latest: true
          fileName: 'xipher-web.zip'
      - name: Extracting Xipher Web
        run: |
          unzip xipher-web.zip -d xipher-web
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact from web directory
        uses: actions/upload-pages-artifact@v3
        with:
          path: xipher-web
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
